<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>x-editable-textarea</title>
</head>
<body>
<th:block th:fragment="textarea(id,classNames,title,url,pk,text)">
    <a href="#" th:id="${id}"
       data-type="textarea"
       th:class="${classNames}"
       data-placement="right"
       th:attr="data-url=${url},
                data-pk=${pk},
                data-title=${title},
                data-value=${text}"
      th:utext="${text}">x-editable-textarea</a>
</th:block>

</body>
</html>