<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Offre</title>
</head>
<body>

<th:block th:fragment="recherche">
    <form action="#" th:action="@{/offres/recherche}" method="post">
        <div class="row">
            <!--<div class="input-group">-->
            <!--<span class="input-group-btn">-->
            <!--<button type="submit" class="btn waves-effect waves-light btn-primary">-->
            <!--<i class="fa fa-search"></i></button>-->
            <!--</span>-->

            <!---->
            <!--</div>-->
            <div class="tags-default">
                <input type="text"  data-role="tagsinput" placeholder="mots clés" name="motcle"/>
            </div>
        </div>
        <div class="row p-t-10">
            <div class="col-md-6">
                <select class="form-control" name="type" id="type">
                    <option value="" selected="">Type Contrat</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-control" name="secteur" id="secteur">
                    <option value="" selected="">Secteur d'activité</option>
                </select>
            </div>
        </div>
        <div class="row p-t-10"><a href="#" id="advancedSearchLink">Recherche avancée </a>
        </div>
        <div id="advancedSearch" class="row p-t-10">
            <div class="row p-t-10">
                <div class="col-md-6">
                    <select class="form-control" name="metier" id="metier">
                        <option value="" selected="">Metier</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control" name="lieu" id="lieu">
                        <option value="" selected="">Lieu</option>
                    </select>
                </div>
            </div>
            <div class="row p-t-10">
                <div class="col-md-6">
                    <select class="form-control" name="niveau" id="niveau">
                        <option value="" selected="">Niveau d'etudes</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <input type="date"/>
                </div>
            </div>
        </div>
        <div class="row p-t-10">
            <button type="submit" class="btn btn-primary btn-block">Lancer la recherche</button>
        </div>
    </form>
</th:block>

</body>
</html>