<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Offre</title>
</head>
<body>

<th:block th:fragment="recherche">
    <form action="#">
        <div class="input-group">
         <span class="input-group-btn">
             <button type="button" class="btn waves-effect waves-light btn-primary">
                                                    <i class="fa fa-search"></i></button>
                                                </span>
            <input id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search"
                   type="text"/>
        </div>
    </form>
</th:block>

</body>
</html>