<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Profile</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <link th:href="@{/css/select2.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/imagepicker/imagepicker.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <div class="col-md-4 col-lg-3 ">
                        <div class="text-center card-box">
                            <div th:replace="candidat/profileFragments/personal-informations :: personal-informations">
                                Info personnelles
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <div class="col-md-8 col-lg-9">

                        <!-- DEBUT COMPETENCES -->
                        <div class="col-md-12 col-sm-12">
                            <div class="card-box">
                                <div th:replace="candidat/profileFragments/competences :: competences">
                                    Compétences
                                </div>
                            </div>
                        </div>
                        <!-- FIN COMPETENCES -->

                        <!-- DEBUT EXPERIENCES -->

                        <div class="col-md-12 col-sm-12">
                            <div class="card-box">
                                <div th:replace="candidat/profileFragments/experiences :: experiences(${experiences})">
                                    Expériences
                                </div>
                            </div>
                        </div>
                        <!-- FIN EXPERIENCES -->

                        <!-- DEBUT FORMATIONS -->
                        <div class="col-md-12 col-sm-12">
                            <div class="card-box">
                                <div th:replace="candidat/profileFragments/formations :: formations(${formations})">
                                    Formations
                                </div>
                            </div>
                        </div>
                        <!-- FIN FORMATIONS -->

                    </div>
                    <!-- end col -->
                </div>
            </div>
        </div>
    </div>
</div>


<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/plugins/country.js}"></script>
    <script>
        // editable infos persos
        $(document).ready(function () {
            //toggle `popup` / `inline` mode
            $.fn.editable.defaults.mode = 'popup';

            //make username editable
            $('#personalPhoneNumber').editable();
            $('#firstName').editable();
            $('#lastName').editable();
            $('#username').editable();
            $('#country').editable({
                source: countryData,
                select2: {
//                    width: 200,
                    placeholder: 'Choisissez un pays',
                    allowClear: true
                }
            });
        });
    </script>

    <script th:src="@{/plugins/moment/moment.js}"></script>
    <script th:src="@{/plugins/timepicker/bootstrap-timepicker.js}"></script>
    <script th:src="@{/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/imagepicker/imagepicker.js}"></script>

    <!-- SCRIPT FORMULAIRE AJOUT EXP + FORMATION-->
    <script>
        (function () {

            // experience form
            const experienceForm = $("#experienceForm");
            const formationForm = $("#formationForm");
            const showExperienceFormButton = $("#showExperienceFormButton");
            const showFormationFormButton = $("#showFormationFormButton");

            experienceForm.hide();
            formationForm.hide();
            /*** EXPERIENCES ***/
            showExperienceFormButton.click(function () {
                experienceForm.css('display') === 'none' ? experienceForm.show() : experienceForm.hide();
                $(this).hide();
            });
            $("#hideExperienceFormButton").click(function () {
                experienceForm.hide();
                showExperienceFormButton.show();
            });
            /*** FORMATIONS ***/
            showFormationFormButton.click(function () {
                formationForm.css('display') === 'none' ? formationForm.show() : formationForm.hide();
                $(this).hide();
            });
            $("#hideFormationFormButton").click(function () {
                formationForm.hide();
                showFormationFormButton.show();
            });

            jQuery('.date-range').datepicker({
                toggleActive: true,
                format: 'dd/mm/yyyy'
            });
        })();

    </script>
    <!-- SCRIPT AJOUT REFERENCES -->
    <script>
        (function () {
            const addReferenceButton = $("#addReferenceButton");
            const referencesInputs = $(".references-inputs").clone();

            referencesInputs.appendChild();


            addReferenceButton.click(function () {
                $(this).parent().before(referencesInputs);
            });

        })();
    </script>
</th:block>

</body>
</html>