<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

<div th:fragment="header">
    <div class="topbar-main">
        <div class="container">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <!--<a href="index.html" class="logo">-->
                <!--Zircos-->
                <!--</a>-->
                <!-- Image Logo -->
                <a href="#" class="logo">
                    <img th:src="@{/images/logo.png}" alt="" height="30"/>
                </a>

            </div>
            <!-- End Logo container-->

            <div class="menu-extras">

                <th:block sec:authorize="isAnonymous()">
                    <ul class="nav navbar-nav navbar-right pull-right ">
                        <li class="navbar-c-items">
                            <a th:href="@{/login}">Login</a>
                        </li>
                        <li class="navbar-c-items">
                            <a th:href="@{/signup/candidat}">Inscription Candidat</a>
                        </li>
                        <li class="navbar-c-items">
                            <a th:href="@{/signup/entreprise}">Inscription Entreprise</a>
                        </li>
                    </ul>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <ul class="nav navbar-nav navbar-right pull-right">

                        <li th:replace="fragments/headerFragments/notifications :: notifications">
                            NOTIFICATIONS
                        </li>

                        <li sec:authorize-url="/candidat/profile">
                            <a th:href="@{/candidat/profile}">Profile</a>
                        </li>
                        <li sec:authorize-url="/entreprise/profile">
                            <a th:href="@{/entreprise/profile}">Profile</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </th:block>


                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <!-- end menu-extras -->
        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <!--  NAVBAR-->
    <div th:replace="fragments/headerFragments/navbar :: navbar">
        Navbar
    </div>
    <!-- END NAVBAR -->
</div>

</body>
</html>