
.offre-date-published{
    display:inline-block;
}

.notification {
    position: relative;
}

.badge {
    position: absolute;
    top: 8px!important;
}

.notify-list {
    height: 285px;
    overflow: scroll;
}

