<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout">
<head>
    <title>Incription</title>
    <link th:href="@{/plugins/select2/select2.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="card-box center-page col-lg-5 col-md-5 col-sm-6 col-xs-8">

            <form id="signupCandidatForm"
                  th:action="@{/signup/candidat}" th:object="${candidat}"
                  method="post">
                <div class="form-group">
                    <label>Email
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="email" placeholder="Entrez votre email" th:field="*{username}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>

                <div class="form-group">
                    <label>Nom
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" placeholder="Entrez votre nom" type="text" th:field="*{lastName}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>

                <div class="form-group">
                    <label>Prénom:
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="text" placeholder="Entrez votre prénom" th:field="*{firstName}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </div>

                <div class="form-group">
                    <label>Téléphone personnel:
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="text" placeholder="n° tel personnel"
                           th:field="*{personalPhoneNumber}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('personalPhoneNumber')}"
                          th:errors="*{personalPhoneNumber}"></span>
                </div>
                <div class="form-group">
                    <label>Pays:
                        <span class="text-danger">*</span>
                    </label>
                    <select class="country-select from-control"
                            th:field="*{country}"></select>

                    <span class="text-danger" th:if="${#fields.hasErrors('country')}"
                          th:errors="*{country}"></span>
                </div>

                <div class="form-group">
                    <label>Mot de passe:
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="password" placeholder="Mot de passe" th:field="*{password}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>

                <div class="form-group">
                    <label>Confirmation:
                        <span class="text-danger">*</span>
                    </label>
                    <input class="form-control" type="password" placeholder="Mot de passe" name="passwordConfirm"/>
                    <!--<span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="${passwordConfirm}"></span>-->
                </div>


                <div class="form-group text-right m-b-0">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                        Valider l'inscription
                    </button>
                </div>
            </form>

        </div>
    </div>



</div>


<th:block layout:fragment="script">
    <script th:src="@{/plugins/select2/select2.min.js}"></script>
    <script th:src="@{/plugins/country.js}"></script>
    <script type="text/javascript">
        //        var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];

        $(".country-select").select2({
            data: countryData,
            placeholder: "Choisissez un pays",
            allowClear: true
        })
    </script>
</th:block>

</body>
</html>