<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout">
<head>
    <title>Incription entreprise</title>
    <link th:href="@{/plugins/select2/select2.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <form id="signup-entreprise" th:action="@{/signup/entreprise}" th:object="${entreprise}" method="post">
                    <div th:replace="signup/entrepriseFragments/form-section-general-info :: form-section-general-info">
                        general infos
                    </div>
                    <div th:replace="signup/entrepriseFragments/form-section-entreprise-info :: form-section-entreprise-info">
                        entreprise infos
                    </div>
                </form>
            </div>
        </div>
    </div><!-- End row -->
</div>


<th:block layout:fragment="script">
    <script th:src="@{/plugins/select2/select2.min.js}"></script>
    <script th:src="@{/plugins/country.js}"></script>
    <script th:src="@{/plugins/jquery.steps/js/jquery.steps.min.js}"></script>
    <script th:src="@{/pages/jquery.wizard-init.js}"></script>

    <script type="text/javascript">
        //        var data = [{ id: 0, text: 'enhancement' }, { id: 1, text: 'bug' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];

        $(".country-select").select2({
            data: ,
            placeholder: "Choisissez un pays",
            allowClear: true
        })
    </script>
</th:block>

</body>
</html>