<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Offres</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-4">
            <div class="card-box recherche">
                <div th:replace="offres/indexFragments/recherche :: recherche">
                    RECHERCHE NORMALEMENT
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div id="offresDiv">
            </div>
            <!-- TODO: centrer spinner -->
            <div class="row">
                <div id="loading" class="center-page">
                    <img th:src="@{/images/loading.gif}" alt="Loading…"/>
                </div>
            </div>

        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <!-- SCRIPT AFFICHAGE OFFRES -->
    <script th:src="@{/pages/offres/offres.index.js}"></script>

    <script th:src="@{/plugins/secteur.js}"></script>
    <script th:src="@{/plugins/type.offre.js}"></script>
    <script th:src="@{/plugins/niveau.js}"></script>
    <script th:src="@{/plugins/metier.js}"></script>
    <!-- SCRIPT RECHERCHE  OFFRES -->
    <script>
        (function () {

            const typeSelect = $('#type'),
                secteurSelect = $('#secteur'),
                niveauSelect = $('#niveau'),
                metierSelect = $('#metier')
                ;

            $.each(types, function (key, value) {
                typeSelect.append('<option value =' + key + '>' + value + '</option>');
            });
            $.each(sectors, function (key, value) {
                secteurSelect.append('<option value =' + key + '>' + value + '</option>');
            });
            $.each(niveaux, function (key, value) {
                niveauSelect.append('<option value=' + key + '>' + value + '</option>')
            });
            $.each(metiers, function (key, value) {
                metierSelect.append('<option value=' + key + '>' + value + '</option>')
            });



            const advancedSearchLink = $('#advancedSearchLink'),
                 advancedSearch = $('#advancedSearch');

            advancedSearch.hide();
            advancedSearchLink.click(function (e) {
                advancedSearch.css('display') === 'none' ? advancedSearch.css('display', '') : advancedSearch.css('display', 'none');
            })
        })();

    </script>
    <!-- FIN RECHERCHE OFFRES -->

</th:block>


</body>
</html>