<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Offres</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-4">
            <div class="card-box recherche">
                <div th:replace="offres/indexFragments/recherche :: recherche">
                    RECHERCHE NORMALEMENT
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div id="offresDiv">
            </div>
            <!-- TODO: centrer spinner -->
            <div class="row">
                <div id="loading" class="center-page">
                    <img th:src="@{/images/loading.gif}" alt="Loading…"/>
                </div>
            </div>

        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <!-- SCRIPT AFFICHAGE OFFRES -->
    <script th:src="@{/pages/offres/offres.index.js}"></script>
</th:block>


</body>
</html>