<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
    <title>Détails offre</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-sm-4">
            <div class="card-box">
                informations entreprise
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card-box">
                description offre
            </div>
        </div>
    </div>
</th:block>


</body>
</html>