<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Navigation bar</title>
</head>
<body>

<th:block th:fragment="navbar">
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="#"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                        <ul class="submenu">
                            <li>
                                <a href="index.html">Dashboard 01</a>
                            </li>
                            <li>
                                <a href="dashboard_2.html">Dashboard 02</a>
                            </li>
                        </ul>
                    </li>

                    <!-- MENU OFFRES   -->
                    <li class="has-submenu" sec:authorize-url="/offres">
                        <a href="#"><i class="mdi mdi-view-dashboard"></i>Offres</a>
                        <ul class="submenu">
                            <li>
                                <a th:href="@{/offres/}">Consulter les offres</a>
                            </li>
                        </ul>
                    </li>
                    <!-- FIN MENU OFFRES  -->

                    <!-- MENU OFFRES ( ENTREPRISE ) -->
                    <li class="has-submenu" sec:authorize-url="/entreprise">
                        <a href="#"><i class="mdi mdi-view-dashboard"></i>Mes Offres</a>
                        <ul class="submenu">
                            <li>
                                <a th:href="@{/entreprise/offres}">Consulter mes offres</a>
                            </li>
                            <li>
                                <a th:href="@{/entreprise/offre/add}">Ajouter une offre</a>
                            </li>
                        </ul>
                    </li>
                    <!-- FIN MENU OFFRES ( ENTREPRISE ) -->
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div>
</th:block>

</body>
</html>