<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Notifications</title>
</head>
<body>
<th:block th:fragment="notifications">

    <li class="dropdown navbar-c-items notification">
        <a href="#" class="right-menu-item dropdown-toggle notification" data-toggle="dropdown">
            <i class="mdi mdi-bell"></i>
            <span id="notificationsNumber" class="badge up bg-danger"></span>
        </a>

        <ul id="notificationsContainer" class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
            <li class="text-center">
                <h5>Notifications</h5>
            </li>
            <!--<li>-->
                <!--<a href="#" class="user-list-item">-->
                    <!--<div class="icon bg-info">-->
                        <!--<i class="mdi mdi-account"></i>-->
                    <!--</div>-->
                    <!--<div class="user-desc">-->
                        <!--<span class="name">New Signup</span>-->
                        <!--<span class="time">5 hours ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#" class="user-list-item">-->
                    <!--<div class="icon bg-danger">-->
                        <!--<i class="mdi mdi-comment"></i>-->
                    <!--</div>-->
                    <!--<div class="user-desc">-->
                        <!--<span class="name">New Message received</span>-->
                        <!--<span class="time">1 day ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="#" class="user-list-item">-->
                    <!--<div class="icon bg-warning">-->
                        <!--<i class="mdi mdi-settings"></i>-->
                    <!--</div>-->
                    <!--<div class="user-desc">-->
                        <!--<span class="name">Settings</span>-->
                        <!--<span class="time">1 day ago</span>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li class="all-msgs text-center">-->
                <!--<p class="m-0"><a href="#">See all Notification</a></p>-->
            <!--</li>-->
        </ul>
    </li>
</th:block>
</body>
</html>