<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter une nouvelle offre</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="row center-page col-lg-6">
        <div class="card-box">
            <h3>Ajouter une nouvelle offre</h3>
            <div>
                <form id="signupCandidatForm"
                      th:action="@{/entreprise/offre/add}"
                      method="post">

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Titre
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" placeholder="Titre" name="title"/>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Lieu
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" placeholder="Lieu" name="place"/>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Secteur
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <select class="form-control" name="secteur" id="secteur">
                                <option value="" selected="">Secteur d'activité</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Metier
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <select class="form-control" name="metier" id="metier">
                                <option value="" selected="">Metier</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-lg-3">Description
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <textarea class="form-control col-lg-9" name="description" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Missions:
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <textarea class="form-control col-lg-9" name="missions" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Profil:
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <textarea class="form-control col-lg-9" name="requis" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Rémunération:</label>
                        <div class="col-lg-9">
                            <input class="form-control" type="text" name="remuneration" value="0"/>
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="col-lg-3">Type:
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-9">
                            <select name="type" id="type">
                                <option value="PFE" selected="">PFE</option>
                            </select>
                        </div>
                    </div>

                    <div id="typeSpecificInputsDiv"></div>

                    <div class="form-group text-right m-b-0">
                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">

    <script>
        (function () {
            // variables qui vont servir à modifier le formulaire selon le type de l'offre
            const posteFormRow = '<div class="form-group clearfix">' +
                '<label class="col-lg-3">Poste' +
                '<span class="text-danger">*</span></label>' +
                '<div class="col-lg-9">' +
                '<input class="form-control" type="text" name="poste"/>' +
                '</div>' +
                '</div>';
            const durationFormRow = '<div class="form-group clearfix">' +
                '<label class="col-lg-3">Durée' +
                '<span class="text-danger">*</span></label>' +
                '<div class="col-lg-9">' +
                '<input class="form-control" type="text" name="duration"/>' +
                '</div>' +
                '</div>';
            const preembaucheFormRow = '<div class="form-group clearfix">' +
                '<label class="col-xs-3">Pré-embauche' +
                '<span class="text-danger">*</span></label>' +
                '<div class="col-xs-9">' +
                '<input type="checkbox" name="preembauche"/>' +
                '</div>' +
                '</div>';

            // on récup select pour détérminer l'offre selectionnée
            const offreSelect = $('#typeOffre');
            // et le div où on va placer les inputs spécifiques à une offre
            const typeSpecificInputsDiv = $('#typeSpecificInputsDiv');
            // initialement on a offre PFE donc on met ce qu'il faut
            typeSpecificInputsDiv.html(durationFormRow + preembaucheFormRow);

            // quand on change de type on met à jour le formulaire
            offreSelect.change(function () {
                const type = $(this).val();
                let formRows;
                switch (type) {
                    case 'CDI':
                        formRows = posteFormRow;
                        break;
                    case 'CDD':
                        formRows = durationFormRow + posteFormRow;
                        break;
                    case 'PFE':
                        formRows = durationFormRow + preembaucheFormRow;
                        break;
                }
                typeSpecificInputsDiv.html(formRows);
            });

        })();
    </script>

    <script th:src="@{/plugins/secteur.js}"></script>
    <script th:src="@{/plugins/type.offre.js}"></script>
    <script th:src="@{/plugins/niveau.js}"></script>
    <script th:src="@{/plugins/metier.js}"></script>
    <script th:src="@{/pages/offres/offre-form.js}"></script>
    <!-- SCRIPT RECHERCHE  OFFRES -->
    <script>
        (function () {

            const typeSelect = $('#type'),
                secteurSelect = $('#secteur'),
                niveauSelect = $('#niveau'),
                metierSelect = $('#metier')
                ;

            $.each(types, function (key, value) {
                typeSelect.append('<option value =' + key + '>' + value + '</option>');
            });
            $.each(sectors, function (key, value) {
                secteurSelect.append('<option value =' + key + '>' + value + '</option>');
            });
            $.each(niveaux, function (key, value) {
                niveauSelect.append('<option value=' + key + '>' + value + '</option>')
            });
            $.each(metiers, function (key, value) {
                metierSelect.append('<option value=' + key + '>' + value + '</option>')
            });

        })();
    </script>
</th:block>


</body>
</html>