<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Détails offre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet"/>
</head>
<body>

<th:block layout:fragment="content">

    <div class="row">

        <h3 th:text="${#strings.capitalize(offre.title)}">
            Titre de l'offre
        </h3>

        <!-- INFOS GENERALES -->
        <div class="col-md-8 center-page">
            <div class="card-box">
                <h4 style="color: #188ae2 !important">Informations générales</h4>

                <div>
                    <strong>Date de publication:</strong>
                    <span th:text="${offre.datePublished}"></span>
                </div>

                <div>
                    <strong>Lieu:</strong>
                    <div th:replace="components/x-editable/text ::
                     text('place','m-l-15','Lieu','/entreprise/offre/edit/place',${offre.id},${offre.place})">
                        Lieu
                    </div>
                </div>

                <div th:if="${offre.class.name == 'com.erecrutement.Entities.Offres.OffreCDD' || offre.class.name =='com.erecrutement.Entities.Offres.OffrePFE'}">
                    <strong>Durée:</strong>
                    <div th:replace="components/x-editable/text ::
                     text('duration','m-l-15','Durée','/entreprise/offre/edit/duration',${offre.id},${offre.duration})">
                        Duration
                    </div>
                    mois
                </div>

                <div th:if="${offre.remuneration} != 0">
                    <strong>Rémunération:</strong>
                    <div th:replace="components/x-editable/text ::
                     text('remuneration','m-l-15','Durée','/entreprise/offre/edit/remuneration',${offre.id},${offre.remuneration})">
                        Duration
                    </div>
                    DHs/mois
                </div>


                <div th:if="${offre.class.name == 'com.erecrutement.Entities.Offres.OffreCDD' || offre.class.name == 'com.erecrutement.Entities.Offres.OffreCDI'}">
                    <strong>Poste:</strong>
                    <div th:replace="components/x-editable/text ::
                     text('poste','m-l-15','Durée','/entreprise/offre/edit/poste',${offre.id},${offre.poste})">
                        Poste
                    </div>
                </div>
                <div th:if="${offre.class.name == 'com.erecrutement.Entities.Offres.OffrePFE'}">
                    <strong>Pré-embauche:</strong>
                    <span th:text="${offre.preembauche}"></span>
                </div>
            </div>
        </div>
        <!-- FIN INFOS GENERALES -->

        <!-- DESCRIPTION OFFRE -->
        <div th:replace="entreprise/offre/indexFragments/details-portlet ::
                          details-portlet('descriptionDiv', 'Déscription de l\'offre', ${offre.description})">
            Description offre
        </div>
        <!-- FIN DESCRIPTION OFFRE-->

        <!-- MISSIONS -->
        <div th:replace="entreprise/offre/indexFragments/details-portlet ::
                          details-portlet('missionsDiv', 'Missions', ${offre.missions})">
            Missions
        </div>
        <!-- FIN MISSIONS -->

        <!-- PROFILE -->
        <div th:replace="entreprise/offre/indexFragments/details-portlet ::
                          details-portlet('profileDiv', 'Profile recherché', ${offre.requis})">
            Profile
        </div>
        <!-- PROFILE -->
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

    <!-- X-EDITABLE -->
    <script>
        // editable infos persos
        $(document).ready(function () {
            //toggle `popup` / `inline` mode
            $.fn.editable.defaults.mode = 'popup';

            $('#duration').editable();
            $('#place').editable();
            $('#poste').editable();
            $('#remuneration').editable();

        });
    </script>
    <!-- X-EDITABLE -->

    <!-- SUMMERNOTE -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const options = {
            height: 150,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        };
        function initSummernote(containerId, postObject) {
            const container = $('#' + containerId);
            const modifierButton = container.parent().parent().parent().find('.modifier-description');
            const sauvegarderButton = container.parent().parent().parent().find('.sauvegarder-description');;
            const annulerbutton = container.parent().parent().parent().find('.annuler-description');;
            let oldDescription, newDescription, offreId;

            sauvegarderButton.hide();
            annulerbutton.hide();

            modifierButton.click(function () {
                $(this).hide();
                sauvegarderButton.show();
                annulerbutton.show();
                container.summernote(options);
                oldDescription = container.summernote('code');
            });
            sauvegarderButton.click(function () {
                $(this).hide();
                annulerbutton.hide();
                modifierButton.show();

                newDescription = container.summernote('code');
                container.summernote('destroy');

                if(oldDescription !== newDescription) {
                    $.post(postObject.url, {
                        id: postObject.id,
                        data: newDescription
                    });
                }
            });
            annulerbutton.click(function () {
                annulerbutton.hide();
                sauvegarderButton.hide();
                modifierButton.show();

                container.summernote('destroy');
                container.html(oldDescription);
            });
        }
        const offreId = [[${offre.id}]];
        initSummernote('descriptionDiv', {
            url: '/entreprise/offre/edit/description',
            id: offreId
        });
        initSummernote('missionsDiv', {
            url: '/entreprise/offre/edit/missions',
            id: offreId
        });
        initSummernote('profileDiv', {
            url: '/entreprise/offre/edit/requis',
            id: offreId
        });
        /*]]>*/
    </script>
    <!-- FIN SUMMERNOTE -->

</th:block>


</body>
</html>