<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8"/>
    <title>Détails offre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css"
          rel="stylesheet"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet"/>
</head>
<body>

<th:block layout:fragment="content">

    <div class="row">

        <!-- OFFRE -->
        <div class="col-md-6">
            <h3 th:text="${#strings.capitalize(offre.title)}">
                Titre de l'offre
            </h3>

            <!-- INFOS GENERALES -->
            <div class="center-page">
                <div th:replace="entreprise/offre/indexFragments/infos-generales ::
                          infos-generales">
                    Infos generales
                </div>
            </div>
            <!-- FIN INFOS GENERALES -->

            <!-- DESCRIPTION OFFRE -->
            <div class="center-page">
                <div th:replace="entreprise/offre/indexFragments/details-portlet ::
                          details-portlet('descriptionDiv', 'Déscription de l\'offre', ${offre.description})">
                    Description offre
                </div>
            </div>
            <!-- FIN DESCRIPTION OFFRE-->

            <!-- MISSIONS -->
            <div class="center-page">
                <div th:replace="entreprise/offre/indexFragments/details-portlet ::
                          details-portlet('missionsDiv', 'Missions', ${offre.missions})">
                    Missions
                </div>
            </div>
            <!-- FIN MISSIONS -->

            <!-- PROFILE -->
            <div class="center-page">
                <div th:replace="entreprise/offre/indexFragments/details-portlet ::
                          details-portlet('profileDiv', 'Profile recherché', ${offre.requis})">
                    Profile
                </div>
            </div>
            <!-- PROFILE -->
        </div>
        <!-- FIN OFFRE -->

        <!-- CANDIDATS -->
        <div class="col-md-6 m-t-40">
            <div class="card-box">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Tel</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="candidat : ${candidats}">
                        <td>
                            <a th:href="@{/profile/candidat/{id}(id=${candidat.id})}" th:text="${#strings.capitalize(candidat.firstName) + ' ' + #strings.capitalize(candidat.lastName)}"></a>
                        </td>
                        <td th:text="${candidat.personalPhoneNumber}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIN CANDIDATS -->

    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

    <!-- X-EDITABLE -->
    <script>
        // editable infos persos
        $(document).ready(function () {
            //toggle `popup` / `inline` mode
            $.fn.editable.defaults.mode = 'popup';

            $('#duration').editable();
            $('#place').editable();
            $('#poste').editable();
            $('#remuneration').editable();

        });
    </script>
    <!-- X-EDITABLE -->

    <!-- SUMMERNOTE -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const options = {
            height: 150,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ]
        };
        function initSummernote(containerId, postObject) {
            const container = $('#' + containerId);
            const modifierButton = container.parent().parent().parent().find('.modifier-description');
            const sauvegarderButton = container.parent().parent().parent().find('.sauvegarder-description');
            ;
            const annulerbutton = container.parent().parent().parent().find('.annuler-description');
            ;
            let oldDescription, newDescription, offreId;

            sauvegarderButton.hide();
            annulerbutton.hide();

            modifierButton.click(function () {
                $(this).hide();
                sauvegarderButton.show();
                annulerbutton.show();
                container.summernote(options);
                oldDescription = container.summernote('code');
            });
            sauvegarderButton.click(function () {
                $(this).hide();
                annulerbutton.hide();
                modifierButton.show();

                newDescription = container.summernote('code');
                container.summernote('destroy');

                if (oldDescription !== newDescription) {
                    $.post(postObject.url, {
                        id: postObject.id,
                        data: newDescription
                    });
                }
            });
            annulerbutton.click(function () {
                annulerbutton.hide();
                sauvegarderButton.hide();
                modifierButton.show();

                container.summernote('destroy');
                container.html(oldDescription);
            });
        }
        const offreId = [[${offre.id}]];
        initSummernote('descriptionDiv', {
            url: '/entreprise/offre/edit/description',
            id: offreId
        });
        initSummernote('missionsDiv', {
            url: '/entreprise/offre/edit/missions',
            id: offreId
        });
        initSummernote('profileDiv', {
            url: '/entreprise/offre/edit/requis',
            id: offreId
        });
        /*]]>*/
    </script>
    <!-- FIN SUMMERNOTE -->

</th:block>


</body>
</html>