<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Compétences</title>
</head>
<body>

<div th:fragment="competences">
    <h4>Competences</h4>

    <div class="row m-t-20">
        <div class="col-md-3 col-sm-6 text-center">
            <div class="p-t-10">

                <h6 class="text-muted m-t-10">HTML5</h6>
            </div>
        </div><!-- end col-->

        <div class="col-md-3 col-sm-6 text-center">
            <div class="p-t-10">

                <h6 class="text-muted m-t-10">CSS3</h6>
            </div>
        </div><!-- end col-->

        <div class="col-md-3 col-sm-6 text-center">
            <div class="p-t-10">

                <h6 class="text-muted m-t-10">Wordpress</h6>
            </div>
        </div><!-- end col-->

        <div class="col-md-3 col-sm-6 text-center">
            <div class="p-t-10">

                <h6 class="text-muted m-t-10">AngularJs</h6>
            </div>
        </div><!-- end col-->

    </div> <!-- end row -->
</div>

</body>
</html>