<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Experiences</title>
</head>
<body>

<th:block th:fragment="experiences(experiences)">
    <h4>Experience</h4>

    <!-- FORMULAIRE AJOUT EXPERIENCE-->
    <button class="btn btn-primary" id="showExperienceFormButton">Ajouter une nouvelle expérience</button>
    <div th:replace="candidat/profileFragments/experiencesFragments/add-experience-form :: add-experience-form">
        Add experience form
    </div>
    <!-- FIN FORMULAIRE AJOUT EXPERIENCE -->

    <!-- LISTE LES EXPERIENCES -->
    <th:block th:each="experience : ${localCv.experiences}">
        <div th:replace="candidat/profileFragments/experiencesFragments/experience ::
                                         experience(${experience.id},${experience.titre}, ${experience.lieu},
                                         ${experience.debut}, ${experience.fin},
                                         ${experience.description})"></div>
    </th:block>
    <!-- FIN LISTE EXPERIENCES -->
</th:block>

</body>
</html>